.content-section {
    width: 1100px;
    min-height: 100px;
    margin: auto;
}

.content-section__with__fill {
    color: black;
    background-color: white;
}

.content-section__without__fill__dark {
    color: black;
}

.content-section__without__fill__light {
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 1.51fr 2fr 1.5fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header__menu__list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__menu__link {
    color: black;
    font-size: 18px;
    white-space: nowrap;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 148;
}

.header__logo__image {
    width: 100%;
}

.header__menu__item__active.header__menu__link {
    text-decoration: none;
}

.address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
  font-style: inherit;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover{
    min-height: 757px;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 100px;
    color: white;
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover__text-on {
    color: white;
    font-size: 28px;
}

.cover__text

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.lots{
  padding: 0 50px;
}

.lots__heading

.card__heading {
    padding: 0px 0px 30px 40px;
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
}

.card__text {
    display: grid;
    column-gap: 25px;
    padding: 188px 40px 48px 40px;
    font-size: 20px;
}

.about{
    padding: 35px 24px 13px 47px;
}

.footer{
    padding: 1px 50px 82px 50px;
}