main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content--section {
  width: 100%;
  margin: 0 auto;
}

/*шапка*/
.header {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.menu__link {
  display: flex;
  gap: 32px;
}

.menu--text {
  font-size: 18px;
  white-space: nowrap;
}

.menu__link--active {
  text-decoration: none;
}

.menu__link--no--mark {
  list-style: none;
}

.menu__link--mark {
  list-style: circle;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 140px;
}

.header__logo__image {
    width: 100%;
}

.contacts {
  font-style: inherit;
}

.header__contacts {
  justify-self: end;
  font-style: inherit;
}

.contacts__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.contacts__item--text {
  font-size: 18px;
  line-height: 1.35;
}

/*картинка*/
.cover{
    min-height: 757px;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 100px;
    color: white;
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover__text-on {
    color: white;
    font-size: 28px;
}

.cover__text

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*лоты*/
.lots{
  padding: 0 50px;
}

.lots__heading

.card__heading {
    padding: 0px 0px 30px 40px;
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
}

.card__text {
    display: grid;
    column-gap: 25px;
    padding: 188px 40px 48px 40px;
    font-size: 20px;
}

.cover__card-lot-01 {
    background-image: url(../images/card-lot-01.jpg);
}

.cover__card-lot-02 {
    background-image: url(../images/card-lot-02.jpg);
}

.cover__card-lot-03 {
    background-image: url(../images/card-lot-03.jpg);
}

/*текст*/
.about{
    padding: 35px 24px 13px 47px;
}

/*подвал*/
.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}